////////
$padding-base : 15px;
.member-status {
	background-color:rgba(0,0,0,.05);
	font-size:90%;
	padding:3px 8px;
	border-radius:3%;
	&.activated {
		background-color:#b8daff;
		color:#004085
	}
}
.column-status {
	.payment-gateway {
		font-size:90%;
	}
}
////////
.panel-payment-data {
	display:flex;
	.membership-payment-info{ 
		width:50%;
		table {
			td { 
				padding-bottom:$padding-base;
				&:last-child {
					font-weight:bold;
				}
			}
		}
	}
	.membership-payment-address {
		width:50%
	}
}
.form-row {
	label {
		width:150px;
	}
}
#opalmembership-payment-items {
	td {
		font-weight:bold;
		padding:$padding-base 0;
		&:last-child {
			color:#f21692
		}
	}

	.payment-total-wrap {
		background-color:#f7f8fa;
		padding:$padding-base;
		clear:both;
	}
}
.panel-payment-head {
	display:flex;
	padding:$padding-base;
	> div {
		width:33%;
		span {
			&:last-child {
				font-weight:bold;
			}
			display:block;
			padding-bottom:$padding-base;
		}
	}
	border-bottom:solid 1px #f3f3f3
}